body {
  width: 1440px;
  margin: 0 auto;
}

@font-face {
  font-family: 'Open-Sans';
  src: url('../font/Open-Sans.woff');
}

@font-face {
  font-family: 'UTM-BryantLG';
  src: url('../font/UTM-BryantLG.ttf');
}

.header {
  height: 150px;
  background-color: #FFFFFF;
  display: flex;
  align-items: center;
}

.header ul li a {
  font: bold 14px Open-Sans;
  text-transform: uppercase;
  color: #505353;
  margin-right: 35px;
}

.header ul li a:hover {
  color: white;
  background: #B2D235;
  border-radius: 17px;
  padding: 10px 15px;
}

.menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 216px;
}

.img-logo {
  padding-left: 4%;
  width: 340.16px;
  height: 70px;
}

.banner {
  height: 655px;
  background-image: url("../image/Rectangle 1.png");
}

.block-banner {
  padding: 14% 0 0 4%;
}

.txt-title {
  font-size: 50px;
  letter-spacing: -0.05em;
  color: #11114E;
}

.img-title {
  width: 45px;
  height: 40px;
}

.txt-banner {
  font: bold 50px UTM-BryantLG;
  color: #11114E;
  margin-top: 1px;
}

.txt-desc {
  font: 20px UTM-BryantLG;
  letter-spacing: -0.05em;
  color: #505353;
  width: 249px;
  height: 50px;
  margin-top: 10px;
}

.btn-start {
  background: #B2D235;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 35px;
  font: bold 30px UTM-BryantLG;
  width: 377px;
  height: 70px;
  margin-top: 26px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-start a {
  font-size: 30px;
  color: #FFFFFF;
  letter-spacing: -0.05em;
}

.block-messenger {
  font: 600 12px Open-Sans;
  position: fixed;
  bottom: 90px;
  right: 60px;
  z-index: 1;
}

.toggle-class {
  display: none;
}

.messenger {
  background-color: #2774DF;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 20px;
  right: 30px;
}

.block-chat {
  width: 360px;
  height: 190px;
  background-color: #FFFFFF;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
  border-radius: 23px;
  display: flex ;
  flex-direction: row;
}

.img-hapo {
  width: 28px;
  height: 28px;
  margin: 17% 0 0 5%;
}

.block-content {
  display: flex;
  flex-direction: column;
}

.web-name {
  font: 600 12px;
  color: #7F7F7F;
  margin: 5% 0 0 8% ;
}

.block-alert {
  background-color: #F1F0F0;
  width: 256px;
  height: 53px;
  border-radius: 15px;
  margin: 4% 0 0 3%;
  display: flex;
  align-items: center;
}

.text-alert {
  color: #505353;
  margin-left: 8%;
}

.login-mess {
  width: 276px;
  height: 37px;
  background-color: #3184F7;
  border-radius: 10px;
  margin-top: 6%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.img-mess {
  width: 17px;
  height: 17px;
}

.txt-login {
  text-align: center;
  color: #FFFFFF;
  margin-left: 3%;
}

.txt-chat {
  text-align: center;
  color: #B3B3B3;
  margin-top: 3.5%;
}

span.close {
  background-color: #C4C4C4;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  font-size: 15px;
  margin-top: 3%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.header-courses {
  height: 170px;
  background-color: #E5E5E5;
}

.courses .block-courses {
  display: flex;
  flex-direction: row;
  width: 1200px;
  margin: -110px 0 0 105px;
}

.courses .content-courses {
  width: 33%;
  height: 470px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  margin-left: 30px;
  letter-spacing: -0.05em;
}

.courses .content-courses .head {
  height: 215px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  border-radius: 15px 15px 0 0;
}

.background-left {
  background-color: #3F6185;
}

.background-middle {
  background-color: #DC594C;
}

.background-right {
  background-color: #556598;
}

.img-courses {
  width: 226px;
  height: 120px;
}

.content-courses .foot .txt-content {
  font: bold 30px UTM-BryantLG;
  color: #B2D235;
  text-align: center;
  margin-top: 25px;
}

.content-courses .foot .txt-des {
  font: bold 14px UTM-BryantLG;
  text-align: center;
  color: #505353;
  line-height: 20px;
  padding: 0 39px;
  margin-top: 10px;
}

.content-courses .foot .btn-take {
  background: #B2D235;
  box-shadow: inset 0 1.5px 2px #6F8710;
  border-radius: 22px;
  width: 200px;
  height: 42px;
  margin: 8% 0 0 22%;
}

.foot .btn-take a {
  font: bold 18px UTM-BryantLG;
  color: #FFFFFF;
}

.orther-courses .block-courses {
  display: flex;
  flex-direction: row;
  width: 1200px;
  margin-left: 105px;
}

.orther-courses .title-courses,
.statistic .title-statistic {
  font: bold 80px UTM-BryantLG;
  color: #11114E;
  text-align: center;
  margin-top: 110px;
}

.orther-courses .title-courses hr {
  width: 480px;
  height: 6px;
  background-color: #B2D235;
  border-radius: 3px;
  margin-top: 15px;
}

.background-left-other {
  background-color: #24ABE2;
}

.background-middle-other {
  background-color: #E14E40;
}

.background-right-other {
  background-color: #1B75BB;
}

.orther-courses .content-courses {
  width: 33%;
  height: 395px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  margin-left: 30px;
}

.orther-courses .content-courses .head {
  height: 194px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  border-radius: 15px 15px 0 0;
}

.all-courses {
  text-align: center;
  margin-top: 60px;
}

.all-courses a {
  font: bold 40px UTM-BryantLG;
  letter-spacing: -0.02em;
  color: #90AB26;
}

.all-courses img {
  width: 47.09px;
  height: 26.08px;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.reason {
  margin-top: 116px;
  height: 740px;
  background-image: url("../image/Rectangle17.png");
  position: relative;
}

.reason .img-lap {
  width: 478.32px;
  height: 478.32px;
  position: absolute;
  margin-top: -12.25%;
}

.reason .img-trans {
  width: 792px;
  height: 544px;
  position: absolute;
  margin: 10% 0 0 45%;
}

.txt-reason {
  width: 560px;
  position: absolute;
  margin: 20% 0 0 7%;
}

.txt-reason .title-reason {
  font: bold 70px UTM-BryantLG;
  text-align: center;
  color: #FFFFFF;
}

.txt-reason ul {
  width: 550px;
}

.txt-reason ul li {
  display: flex;
  margin-top: 25px;
}

.txt-reason li img {
  width: 26px;
  height: 35px;
}

.txt-reason li span {
  font: 20px UTM-BryantLG;
  color: #FFFFFF;
  margin-left: 11px;
}

.learn {
  height: 500px;
  background-image: url("../image/Group7.png");
  margin-top: 100px;
  display: flex;
  justify-content: center;
}

.learn .txt-learn {
  width: 705px;
  height: 158px;
  font: bold 60px UTM-BryantLG;
  text-align: center;
  color: #FFFFFF;
  margin-top: 124px;
}

.btn-start-learn {
  width: 377px;
  height: 70px;
  background-color: #FFFFFF;
  box-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 35px;
  margin: 14px auto 0 auto;
}

.btn-start-learn a {
  font: bold 30px UTM-BryantLG;
  color: #90AB26;
}

.statistic .title-statistic hr {
  width: 276px;
  height: 6px;
  background-color: #B2D235;
  border-radius: 3px;
  margin-top: 15px;
}

.content-statistic {
  font: bold 60px UTM-BryantLG;
  display: flex;
  flex-direction: row;
}

.block-statistic {
  width: 33%;
}

.content-statistic .title {
  color: #505353;
  text-align: center;
}

.content-statistic .data {
  color: #B2D235;
  margin-top: 26px;
  text-align: center;
}
