body {
  width: 100%;
  margin: 0 auto;
}

@font-face {
  font-family: 'Open-Sans';
  src: url('../font/OpenSans-Regular.ttf');
}

@font-face {
  font-family: 'UTM-BryantLG';
  src: url('../font/UTM-BryantLG.ttf');
}

.header {
  height: 120px;
  background-color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header ul li a {
  font: bold 14px Open-Sans;
  text-transform: uppercase;
  color: #505353;
  -webkit-text-stroke-width: 0.5px;
  border-radius: 17px;
  padding: 10px 15px;
}

.header ul li a:hover {
  color: white;
  background: #B2D235;
}

.menu {
  display: flex;
  flex-direction: row;
  margin-right: 10%;
}

.img-logo {
  padding-left: 4%;
  height: 70px;
}

.banner {
  height: 655px;
  background: url("../image/Rectangle-1.png") no-repeat;
  background-size: cover;
}

.block-banner {
  width: 570px;
  padding: 14% 0 0 4%;
}

.txt-title {
  font: bold 50px UTM-BryantLG;
  color: #11114E;
  -webkit-text-stroke-width: 2px;
}

.img-title {
  width: 45px;
  height: 40px;
  vertical-align: middle;
}

.txt-banner {
  font:  bold 50px UTM-BryantLG;
  color: #11114E;
  margin-top: 1px;
}

.txt-desc {
  font: 600 20px UTM-BryantLG;
  letter-spacing: -0.05em;
  color: #505353;
  height: 50px;
  margin-top: 10px;
}

.btn-start {
  background: #B2D235;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 35px;
  font: bold 30px UTM-BryantLG;
  width: 377px;
  height: 70px;
  margin-top: 26px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFFFFF;
  -webkit-text-stroke-width: 1px;
}

.btn-start:hover,
.btn-take:hover,
.btn-start-learn:hover,
.login-mess:hover {
  opacity: 0.8;
}

.block-messenger {
  font: bold 12px Open-Sans;
  position: fixed;
  bottom: 90px;
  right: 50px;
  z-index: 1;
}

.toggle-class {
  display: none;
}

.messenger {
  background-color: #2774DF;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 20px;
  right: 30px;
  cursor: pointer;
}

.block-chat {
  width: 360px;
  height: 190px;
  background-color: #FFFFFF;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
  border-radius: 23px;
  display: flex ;
  flex-direction: row;
}

.img-hapo {
  width: 28px;
  height: 28px;
  margin: 17% 0 0 5%;
}

.block-content {
  display: flex;
  flex-direction: column;
}

.web-name {
  font: 600 12px Open-Sans;
  color: #7F7F7F;
  margin: 5% 0 0 8% ;
}

.block-alert {
  background-color: #F1F0F0;
  width: 256px;
  height: 53px;
  border-radius: 15px;
  margin: 4% 0 0 3%;
  display: flex;
  align-items: center;
}

.text-alert {
  font-family: Open-Sans;
  color: #505353;
  margin-left: 8%;
}

.login-mess {
  font-family: Open-Sans;
  width: 276px;
  height: 37px;
  background-color: #3184F7;
  border-radius: 10px;
  margin-top: 6%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.img-mess {
  width: 17px;
  height: 17px;
}

.txt-login {
  text-align: center;
  color: #FFFFFF;
  margin-left: 3%;
}

.txt-chat {
  text-align: center;
  color: #B3B3B3;
  margin-top: 3.5%;
}

span.close {
  background-color: #C4C4C4;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  font-size: 15px;
  margin-top: 3%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

span.close:hover {
  opacity: 0.8;
}

.header-courses {
  height: 170px;
  background-image: linear-gradient(white, #E5E5E5);
}

.courses .block-courses {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin-top: -120px;
}

.courses .content-courses {
  width: 370px;
  height: 470px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  margin: 20px;
  letter-spacing: -0.05em;
}

.courses .content-courses .head {
  height: 215px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  border-radius: 15px 15px 0 0;
}

.background-left {
  background-color: #3F6185;
}

.background-middle {
  background-color: #DC594C;
}

.background-right {
  background-color: #556598;
}

.img-courses {
  max-width: 50%;
  max-height: 50%;
  margin: auto;
}

.content-courses .foot .txt-content {
  font: bold 30px UTM-BryantLG;
  color: #B2D235;
  text-align: center;
  margin-top: 25px;
  -webkit-text-stroke-width: 1px;
}

.content-courses .foot .txt-des {
  font: bold 14px/20px UTM-BryantLG;
  text-align: center;
  color: #505353;
  line-height: 20px;
  padding: 0 39px;
  margin-top: 10px;
}

.content-courses .foot .btn-take {
  background: #B2D235;
  box-shadow: inset 0 1.5px 2px #6F8710;
  border-radius: 22px;
  width: 200px;
  height: 42px;
  display: flex;
  margin: 5% auto;
  font: bold 18px UTM-BryantLG;
  color: #FFFFFF;
  -webkit-text-stroke-width: 1px;
}

.orther-courses .block-courses {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: 0 auto;
}

.orther-courses .title-courses,
.statistic .title-statistic,
.feedback .title-feedback {
  font: bold 80px UTM-BryantLG;
  color: #11114E;
  text-align: center;
  margin-top: 50px;
  -webkit-text-stroke-width: 2px;
}

.orther-courses .title-courses hr {
  width: 480px;
  height: 6px;
  background-color: #B2D235;
  border-radius: 3px;
  margin-top: 15px;
}

.background-left-other {
  background-color: #24ABE2;
}

.background-middle-other {
  background-color: #E14E40;
}

.background-right-other {
  background-color: #1B75BB;
}

.orther-courses .content-courses {
  width: 370px;
  height: 400px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  margin: 20px;
}

.orther-courses .content-courses .head {
  height: 194px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  border-radius: 15px 15px 0 0;
}

.all-courses {
  text-align: center;
  margin-top: 60px;
  height: 30px;
}

.all-courses a {
  font: bold 40px UTM-BryantLG;
  letter-spacing: -0.02em;
  color: #90AB26;
  -webkit-text-stroke-width: 2px;
}

.all-courses:hover {
  font: bold 50px UTM-BryantLG;
  letter-spacing: -0.02em;
  color: #90AB26;
  -webkit-text-stroke-width: 2px;
}

.all-courses img {
  width: 47.09px;
  height: 26.08px;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.reason {
  margin-top: 116px;
  height: 740px;
  background: url("../image/Rectangle17.png") no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: row;
  position: relative;
}

.reason .block-left {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.img-top {
  height: 40%;
}

.reason .img-lap {
  height: 478px;
  width: auto;
  margin-top: -182px;
}

.txt-reason {
  height: 60%;
  align-self: flex-end;
  margin-right: 100px;
}

.block-right {
  width: 50%;
}

.block-right .img-trans {
  height: 544px;
  width: 670px;
  position: absolute;
  top: 16%;
}

.txt-reason .title-reason {
  font: bold 65px UTM-BryantLG;
  text-align: center;
  color: #FFFFFF;
}

.txt-reason ul li {
  display: flex;
  margin-top: 20px;
}

.txt-reason li img {
  width: 32px;
  height: 32px;
}

.txt-reason li span {
  font: 20px/25px UTM-BryantLG;
  color: #FFFFFF;
  margin-left: 5px;
  letter-spacing: -0.05em;
}

.learn {
  height: 500px;
  background: url("../image/Group7.png") no-repeat;
  background-size: cover;
  margin-top: 100px;
  display: flex;
  justify-content: center;
}

.learn .txt-learn {
  width: 705px;
  height: 158px;
  font: bold 60px UTM-BryantLG;
  text-align: center;
  color: #FFFFFF;
  margin-top: 124px;
}

.btn-start-learn {
  width: 377px;
  height: 70px;
  background-color: #FFFFFF;
  box-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 35px;
  margin: 14px auto 0 auto;
  -webkit-text-stroke-width: 1px;
  font: bold 30px UTM-BryantLG;
  color: #90AB26;
}

.statistic .title-statistic hr {
  width: 276px;
  height: 6px;
  background-color: #B2D235;
  border-radius: 3px;
  margin-top: 15px;
}

.content-statistic {
  font: bold 60px UTM-BryantLG;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.content-statistic .title {
  color: #505353;
  text-align: center;
}

.content-statistic .data {
  color: #B2D235;
  margin-top: 26px;
  text-align: center;
}

.feedback .title-feedback hr {
  width: 328px;
  height: 6px;
  background-color: #B2D235;
  border-radius: 3px;
  margin-top: 15px;
}

.feedback .title-feedback p {
  width: 705px;
  font: 25px UTM-BryantLG;
  color: #505353;
  margin-left: 367px;
  display: flex;
  margin: 20px auto; 
  -webkit-text-stroke-width: 0 !important;
}

.slide-cmt {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.element-parent-left {
  display: flex;
  flex-direction: column;
  width: 40%;
  margin-right: 20px;
  align-items: flex-end;
}

.element-parent-right {
  display: flex;
  flex-direction: column;
  width: 40%;
  margin-left: 20px;
  align-items: flex-start;
}

.element-cmt {
  background: url("../image/Union.png") no-repeat;
  background-size: 560px 160px;
  height: 160px;
  width: 560px;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  position: relative;
}

.element-cmt .hr {
  width: 6px;
  height: 108px;
  background-color: #D9DADC;
  border-radius: 15px;
  margin: -16px 0 0 20px;
}

.block-cmt p {
  height: 80px;
  width: 480px;
  margin-top: -5px;
  font: 16px UTM-BryantLG;
  letter-spacing: -0.05em;
  color: #000000;
  line-height: 20px;
  padding: 0 12px;
}

.block-account {
  width: 560px;
  display: inline-flex;
  flex-direction: row;
  justify-items: flex-start;
  margin-left: 20px;
}

.block-account img {
  width: 60px;
  height: 60px;
}

.block-account .block-infor {
  margin-left: 10px;
}

.block-account .txt-name {
  font: bold 20px UTM-BryantLG;
  color: #11114E;
  -webkit-text-stroke-width: 1px;
}

.block-account .txt-lang {
  font: bold 16px UTM-BryantLG;
  color: #505353;
}

.block-account i {
  font-size: 14px;
  color: #F2C54F;
}

.img-left {
  width: 30px;
  height: 30px;
  position: absolute;
  margin: -5px 0 0 -11px;
  cursor: pointer;
}

.img-right {
  width: 30px;
  height: 30px;
  position: absolute;
  margin-left: 96%;
  cursor: pointer;
}

.footer {
  background-color: #505353;
  height: 308px; 
  margin-top: 136px;
}

.footer .foot {
  display: flex;
  flex-direction: row;
  height: 270px;
  width: 100%;
}

.block-logo {
  width: 35%;
  padding: 30px 0 0 6%;
}

.footer .txt-logo {
  font: 20px UTM-BryantLG;
  color: #FFFFFF;
  position: absolute;
  margin-left: 66px;
}

.block-menu {
  width: 35%;
}

.block-menu ul {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 210px;
  margin-top: 25px;
}

.block-menu li {
  margin: 20px 0 0 25px;
}

.block-menu a {
  font: bold 23px UTM-BryantLG;
  color: #FFFFFF;
}

.block-menu a:hover {
  font: bold 23px UTM-BryantLG;
  color: #FFFFFF;
  -webkit-text-stroke-width: 1px;
}

.block-contact {
  display: flex;
  align-items: center;
  width: 40%;
  margin-left: 3%;
}

.block-contact img {
  width: 50px;
  height: 50px;
  margin-left: 35px;
  display: flex;
}

.block-contact img:hover {
  width: 55px;
  height: 55px;
}

.copy-rights {
  font: 15px UTM-BryantLG;
  background-color: #454545;
  height: 38px;
  color: #FFFFFF;
}
